<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orchids in Armenia</title>
</head>
<header style="background-color: #6817eb"> <h1 style="color:aliceblue">ORCHIDS IN ARMENIA</h1></header>
<br>
<body>
    {% block content %}{% endblock %}
</body>
</body>
<footer style="margin-top: 500px"> 
    <hr>
    <hr>
    <li>Phon:  </li>
    <li>Email: </li>
    <li>Addres:</li>
</footer>
</html>
